.footer__block {
  background-color: #f4f3ee;

  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__block p {
  padding: 10px;
}
@media (max-width: 700px) {
  .footer__block {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
  }
}
