.h1__block {
  text-align: center;
  padding: 30px;
}

#square__white {
  height: 263px;
  width: 246px;
  background-color: #f4f3ee;

  padding: 10px;
}

#square__red {
  height: 263px;
  width: 246px;
  background-color: #c32c72;
  border-radius: 10px 10px;
  padding: 10px;
}

#square__bordercoloured {
  height: 263px;
  width: 246px;
  border: 1px solid;
  border-color: #c32c72;
  border-radius: 10px 10px;
  padding: 10px;
}

@media (max-width: 700px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10px;
    grid-gap: 15px;
    margin-left: 0px;
  }
  #square__white,
  #square__red,
  #square__bordercoloured {
    height: 357px;
    width: 100%;
  }
}
